*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fontQuote: "Source Serif 4", serif;
  --fontButton: Inter;
  --quoteBgColor: rgba(49, 52, 111, 0.95);
  --buttonBgColor: rgba(126, 159, 206, 1);
  --buttonBorderColor: rgba(86, 74, 141, 1);
}

body {
  margin: 0;
  background-image: url("bg.jpg");
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  place-items: center;
  justify-content: center;
}

#container {
  margin: 0;
  width: fit-content;
  height: fit-content;
  min-width: 50%;
  max-width: 70%;
  background-color: var(--quoteBgColor);
  padding: 50px 90px 40px 90px;
  border-radius: 50px;
}

#quote {
  font-family: var(--fontQuote);
}

#text {
  font-size: 3.45rem;
  font-style: italic;
}

#text::before {
  content: "“ ";
}

#text::after {
  content: " ”";
}

#author {
  font-size: 2.25rem;
  font-style: italic;
  text-align: right;
  padding-top: 20px;
}

#buttons {
  display: flex;
  justify-content: end;
  padding-top: 25px;
}

button,
a {
  background-color: var(--buttonBgColor);
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 0.8em 1.6em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: var(--fontButton);
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
  margin: 0.5em;
}

a {
  text-decoration: none;
}

button:hover,
a:hover {
  border-color: var(--buttonBorderColor);
  border: 2px;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 480px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }

  #container {
    padding: 30px 30px 30px 30px;
    border-radius: 40px;
  }

  #text {
    font-size: 2rem !important;
  }

  #author {
    font-size: 1.5rem;
  }

  #buttons {
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 1rem;
  }
}
